.notFound-container {
  max-width: 1366px;
  height: auto;
  text-align: center;
  padding-top: 50px;
}
.notFound {
  width: 1000px;
  height: 300px;
}

@media only screen and (max-width: 1080px) {
  .notFound {
    width: 600px;
    height: 200px;
  }
}
@media only screen and (max-width: 650px) {
  .notFound {
    width: 300px;
    height: 200px;
  }
}
