.whatWeDo {
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
}
.cardContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}
.react-reveal {
  margin: 0 auto;
}
.section__title {
  text-align: center;
  padding-bottom: 30px;
  font-family: eurostileBold;
}
.title__head {
  font-family: eurostileBold;
  font-size: 50px;
}
.sec__title {
  color: #ff5829;
  font-family: eurostileBold;
}
.cardImage {
  text-align: center;
  padding: 20px;
}
.cardImage img {
  height: 100px;
}
.box-f {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 700px) {
  .box-f {
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 1rem;
    margin: 0 auto;
  }
}
