@font-face {
  font-family: eurostileExtended;
  src: url(../../font/EurostileExtended.ttf);
}
div#About {
  margin-top: 60px;
}
.about-card {
  /* width: 1000px; */
  display: flex;
  /* margin: 0 auto; */

  box-shadow: 0 0 20px -2px #1f2235;
  margin-bottom: 50px;
}
.about-profile {
  width: 50%;
}
.about-profile-pic {
  height: 100%;
  background-image: url("../../assets/images/rabbi.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.about-details {
  width: 48%;
  padding: 30px;
  font-size: 12px;
  text-align: justify;
  color: #212529;
}
.info-list {
  display: flex;
  align-items: center;
}
.about-highlight {
  margin-top: 85px;
  margin-bottom: 20px;
}
.about-highlight h3 {
  font-size: 16px;
  color: var(--sec-color);
  font-family: eurostileExtended;
}
.about-description {
  font-family: eurostileBold;
  font-size: 15px;
}
.info-list span {
  height: 10px;
  width: 10px;
  background: var(--primary-color);
  border-radius: 5px;
  margin-bottom: 18px;
  margin-right: 10px;
  font-family: eurostileBold;
}
.about-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.about-hire-btn {
  background: var(--sec-color) !important;
  font-size: 12px !important;
  border: 2px solid #ff5823 !important;
  border-radius: 50px !important;
  padding: 14px 0 !important;
  width: 160px !important;
  cursor: pointer !important;
  transition: 0.2s !important;
  font-size: 12px !important;
  font-family: eurostileBold;
}
.about-resume-btn {
  border-radius: 50px !important;
  padding: 14px 0 !important;
  width: 160px !important;
  cursor: pointer !important;
  border: 2px solid var(--sec-color) !important;
  transition: 0.2s !important;
  font-size: 12px !important;
  background: var(--primary-color) !important;
  margin-left: 50px !important;
  font-family: eurostileBold;
}

/* responsive */
@media only screen and (max-width: 1000px) {
  .about-card {
    display: flex;
    flex-direction: column;
  }
  .about-profile {
    height: 515px;
    width: 516px;
    margin: 0 auto;
  }
  .about-details {
    width: 100%;
    text-align: center;
  }

  .about-info-list {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
  .about-info-list {
    width: 70%;
  }
  .about-btn {
    margin-top: 20px;
  }
  .about-profile {
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }
  .about-btn button {
    width: 150px !important;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 450px) {
  .about-info-list {
    width: 100%;
  }
  .about-profile {
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }
  .about-hire-btn {
    width: 100px !important;
  }
  .about-resume-btn {
    margin-left: 15px !important;
    width: 100px !important;
  }
}
@media only screen and (max-width: 400px) {
  .about-details {
    padding: 20px;
  }
  .about-profile {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .about-info-list {
    width: 100%;
  }
  .about-hire-btn {
    width: 100px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
  }
  .about-resume-btn {
    margin-left: 10px !important;
    width: 100px !important;
  }
}
@media only screen and (max-width: 360px) {
  .about-btn {
    display: flex;
    flex-direction: column !important;
  }
  .hire__btn {
    margin-bottom: 10px !important;
  }
}
