.pro__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .pro__container {
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 1rem;
    margin: 0 auto;
  }
}
